#root {
  background-color: #0a1628;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

nav a {
  color: white;
}